h1 {
  color: darkred;
  text-align: center;
}

h2
{color:
  red;}

h3
{color:
   green;}


p
{color: black;
background-color: green;
}



img
{
    display: block;
    margin: auto;
    width: 40%;
}
.column {
    width: 350px;
    float: center;
  }
