h1 {
  color: darkred;
  text-align: center;
}

h2 {
  font-style: italic;
  text-align: left;
  color: red;
}

p {
  color: crimson;
}

html
{background-color: purple;
}
strong
{
  font-style: italic;
}
em
{
  font-weight: bold;
}
img
{
    display: block;
    margin: auto;
    width: 40%;
}
